*{
    margin: 10px 20px;
}

body{
    background-color: rgb(134, 19, 241);
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50vh;
    width: 40vw;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

#wake
{
    display: flex;
    justify-content: center;
}

 .wake1
{
    width: 45px;
    height: 45px;
    padding: 0px;
    display: flex;
    justify-self: flex-start;
    
} 

select{
    height: 20px;
    width: 270px;
    text-align: center;
}


.set
{
    display: flex;
    /* justify-content: center; */
}


.time
{
    position: absolute;
    top: 30px;
    left: 800px;
    color: #8A11BF;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 40% ;
    height: 100px;
    font-size: 23px;
    background-color: white;
    border-radius: 10px;
}

.secondbox
{
    width: 30vw;
    height: 80px;
    background-color:antiquewhite;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 850px;
    z-index: -1;
}

.thirdbox
{
    width: 23vw;
    height: 80px;
    background-color:pink;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    left: 910px;
    z-index: -2;
}

.live-clock
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
    font-size: larger;
    border-radius: 10px;
    background-color: #c766f1;
}

/* #hours, #minutes, #seconds, #ampm
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: #c766f1;
    border-radius: 10px;
    height: 7vh;
    width: 4vw;
} */



.good_wake
{
    background-color: violet;
    height: 80px;
    width:43vw;
    color: white;
    font-size: 28px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#setalarm
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 270px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#6E54EC,#CB52F8,#FC5EFF);
}

#setalarm:hover
{
    background-image: linear-gradient(to left,#6E54EC,#CB52F8,#FC5EFF);
}

/* #setalarm:hover div{
    display: none;
} */

/* #setalarm:hover::after{
    content: "Party Time!";
} */


.grab
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 190px;
    left: 780px;
    width: 40vw;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    color: #8E53F0;
    font-size: 25px;
}

.image1
{
    border-radius:  10px;
    border-style: dashed;
    position: absolute;
    height: 60vh;
    width: 40vw;
    top: 300px;
    left: 780px;
}

.feching
{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    color: #F25CFE;
    border-radius: 10px;
    background-color: #FFFFFF ;
    position: relative;
    left: 350px;
}

 /* PIXEL 5 MEDAI QUERY */
@media screen and (min-width:380px) and (max-width:480px) {

    *{
        margin-left:-7px ;
    }
    .container
    {
        height: 250px;
        width: 330px;
        justify-content:space-around;
        /* padding: 2px;
        margin: 2px; */
        position: relative;
        top: 130px;
        left: 5px;
        
    }

   
    .wake1
    {
        width: 20pxpx;
        height: 20px;
    } 

    
    select{
        height: 20px;
        width: 180px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .time
    {
        position: absolute;
        top: 120px;
        left: 20px;
        width: 380px ;
        height: 100px;
    }

    .image1
    {
        height: 300px;
        width: 380px;
        top: 650px;
        left: 15px;
    }

    .grab
    {
        top: 970px;
        left: 20px;
        width: 380px;
        height: 100px;
        text-align: center;
    }

.secondbox
{
    width: 320px;
    height: 80px;
    top: 160px;
    left: 60px;
    
}

.thirdbox
{
    width: 280px;
    top: 175px;
    left: 85px;
    
}
#setalarm
{
    font-size: 15px;
    top: 1080px;
    left: 15px;
    width: 160px;
    height: 40px;
}

.logo{
margin-left: 20px;
}

.feching
{
   
    width: 220px;
    height: 150px;
    position: relative;
    left: 190px;
    top: 550px;
    text-align: center;
}

.good_wake
{
    width:380px;
   position: relative;
   top: 120px;
   left: 35px;
}
}

/* IPHONESE MEDAI QUERY */
@media screen and (min-width:360px) and (max-width:480px) {

    *{
        margin-left:-7px ;
    }
    .container
    {
        height: 250px;
        width: 330px;
        justify-content:space-around;
        /* padding: 2px;
        margin: 2px; */
        position: relative;
        top: 130px;
        left: 5px;
        
    }

   
    .wake1
    {
        width: 20pxpx;
        height: 20px;
    } 

    
    select{
        height: 20px;
        width: 180px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .time
    {
        position: absolute;
        top: 120px;
        left: 20px;
        width: 380px ;
        height: 100px;
    }

    .image1
    {
        height: 300px;
        width: 380px;
        top: 650px;
        left: 15px;
    }

    .grab
    {
        top: 970px;
        left: 20px;
        width: 380px;
        height: 100px;
        text-align: center;
    }

.secondbox
{
    width: 320px;
    height: 80px;
    top: 160px;
    left: 60px;
    
}

.thirdbox
{
    width: 280px;
    top: 175px;
    left: 85px;
    
}
#setalarm
{
    font-size: 15px;
    top: 1080px;
    left: 15px;
    width: 160px;
    height: 40px;
}

.logo{
margin-left: 20px;
}

.feching
{
   
    width: 220px;
    height: 150px;
    position: relative;
    left: 190px;
    top: 550px;
    text-align: center;
}

.good_wake
{
    width:380px;
   position: relative;
   top: 120px;
   left: 35px;
}
}

/* ipad mini */
@media screen and (min-width:580px) and (max-width:850px) {

    *{
        margin:5px ;
    }
    body{
        margin-left: 40px;
    }
    
    .container
    {
        height: 280px;
        width: 640px;
        justify-content:space-around;
        /* padding: 2px;
        margin: 2px; */
        position: relative;
        top: 150px;
        left: -25px;
        
    }

   
    .wake1
    {
        width: 20pxpx;
        height: 20px;
    } 

    
    select{
        height: 20px;
        width: 300px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .time
    {
        position: absolute;
        top: 120px;
        left: 30px;
        width: 670px ;
        height: 100px;
    }

    .image1
    {
        height: 320PX;
        width: 670px;
        top: 680px;
        left: 35px;
    }

    .grab
{
    top: 1010px;
    left: 35px;
    width: 670px;
    height: 100px;
}

.secondbox
{
    width: 590px;
    height: 80px;
    top: 160px;
    left: 60px;
    
}

.thirdbox
{
    width: 530px;
    top: 175px;
    left: 85px;
    
}
#setalarm
{
    font-size: 15px;
    top: 1130px;
    left: 35px;
    width: 270px;
    height: 40px;
}

.feching
{
   line-height: 35px;
   font-size: 25px;
    width: 320px;
    height: 200px;
    position: relative;
    left: 320px;
    top: 580px;
}

.good_wake
{
    width:670px;
   position: relative;
   top: 140px;
   left: -15px;
}
}

@media screen and (min-width:800px) and (max-width:920px) {

    *{
        margin:5px ;
    }
    body{
        margin-left: 40px;
    }
    
    .container
    {
        height: 280px;
        width: 640px;
        justify-content:space-around;
        /* padding: 2px;
        margin: 2px; */
        position: relative;
        top: 150px;
        left: -25px;
        
    }

   
    .wake1
    {
        width: 20pxpx;
        height: 20px;
    } 

    
    select{
        height: 20px;
        width: 300px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .time
    {
        position: absolute;
        top: 120px;
        left: 30px;
        width: 670px ;
        height: 100px;
    }

    .image1
    {
        height: 320PX;
        width: 670px;
        top: 680px;
        left: 35px;
    }

    .grab
{
    top: 1010px;
    left: 35px;
    width: 670px;
    height: 100px;
}

.secondbox
{
    width: 590px;
    height: 80px;
    top: 160px;
    left: 60px;
    
}

.thirdbox
{
    width: 530px;
    top: 175px;
    left: 85px;
    
}
#setalarm
{
    font-size: 15px;
    top: 1130px;
    left: 35px;
    width: 270px;
    height: 40px;
}

.feching
{
   line-height: 35px;
   font-size: 25px;
    width: 320px;
    height: 200px;
    position: relative;
    left: 320px;
    top: 580px;
}

.good_wake
{
    width:670px;
   position: relative;
   top: 140px;
   left: -15px;
}
}
